{% extends "base.html" %}
{% block body %}
    <header>
        <h1>YTGT</h1>
        <p>Your trusty YouTube Getter</p>
    </header>

    <main>
        <p>No ads. No hidden agendas. Just a free YouTube audio/video 
            downloader.</p>
        <form action="{{ url_for("download") }}">
            <label for="url">Link:</label>
            <input type="url" name="url">
            <label for="format">Format</label>
            <input type="radio" name="format" id="audio">
            <label for="audio">Audio</label>
            <input type="radio" name="format" id="video">
            <label for="video">Video</label>
            <input type="submit" value="Download">
        </form>
    </main>
{% endblock %}
